<form method="post" action="{{ path('ui_admin_post_delete', {'id': post.id}) }}" onsubmit="return confirm('Вы уверены что хотите удалить?');">
    <input type="hidden" name="_token" value="{{ csrf_token('delete' ~ post.id) }}">
    <input type="hidden" name="_method" value="delete">
    <button class="btn btn-danger">Удалить</button>
</form>
