{% extends 'ui/admin/layout/layout.html.twig' %}

{% block title %}Изменение поста{% endblock %}

{% block body %}
    <h1>Изменение поста</h1>

    {{ include('ui/admin/post/_form.html.twig', {'button_label': 'Сохранить изменения'}) }}

    <a class="btn btn-secondary" href="{{ path('ui_admin_post_index') }}">Вернуться к списку постов</a>
{% endblock %}
